body{
    padding: 20px;
    font-family: "Montserrat", sans-serif;      
    background: #F2F2F2;
}

nav{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
      width: 200px;    
      transition: transform 0.3s, filter 0.3s;
    }

.nav-links {
    list-style: none;   
    display: flex;
    align-items: center;
    gap: 20px;          
}

.nav-links a{
    text-decoration: none;
    color: #000;         
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #041C04;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn-agendar {
      background-color: #B4BEB6;   
      color: #041C04;                 
      padding: 12px 24px;         
      border: none;                
      border-radius: 4px;         
      font-size: 16px;
      font-weight: 600;                     
      cursor: pointer;             
      text-decoration: none;       
      transition: all 0.3s ease;   
      display: inline-block;
    }

    .btn-agendar:hover {
      background-color: #e73370;   
      transform: scale(1.05);    
      box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
    }

    .btn-agendar:active {
      transform: scale(0.98);     
    }

    .btn-servicos {
      margin: 2px;
      background-color: transparent;       
      color: #041C04;                  
      padding: 12px 24px;          
      border: 1px solid #041C04;                 
      border-radius: 4px;         
      font-size: 16px;             
      font-weight: bold;            
      cursor: pointer;              
      text-decoration: none;        
      transition: all 0.3s ease;    
      display: inline-block;
    }

    .btn-servicos:hover {
      background-color: #ebedeb; 
      color: #041C04;          
      box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
    }

    .btn-servicos:active {
      transform: scale(0.98);       
    }


.primeira_section{ 
    background-color: #B4BEB6;
    display: flex;
    text-align: center;
    padding: 50px 20px;
}
.primeira_section h1{
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.primeira_section p{
    font-size: 20px;
    margin-bottom: 30px;
}
.primeira_section img{
    width: 400px;
    height: auto;
}

.primeira_section article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin-right: 20px;
   
}

.segunda_section{
    text-align: left;
}

.segunda_section h2{
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
}  
.segunda_section ul{
   display: flex;
   flex-direction: column;
    gap: 5px;
    align-items: start;
    padding: 0;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
    
}
.segunda_section li{
    list-style: none;
    margin: 20px 0;
}

.imagens{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagens img{
    width: 32%;
    height: auto;
    border-radius: 8px;
}

.terceira-section{
    text-align: left;
}

.terceira-section h2{
    font-size: 2em;
    margin-bottom: 20px;

}

.terceira-section article{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
}

.mapa{
  margin : 20px;   
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);   
  height: 350px;
}

/* Estilo do formulário */
#agendar {
  background-color: #B4BEB6;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#agendar label {
  font-weight: bold;
  color: #333;
}

#agendar input,
#agendar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#agendar input:focus,
#agendar select:focus {
  border-color: #ff4081;
  box-shadow: 0 0 6px rgba(255,64,129,0.4);
  outline: none;
}

.btn-agendar:hover {
  background-color: #ebedeb;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn-agendar:active {
  transform: scale(0.98);
}


.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}

#servicos, #equipe, #localizacao, #agendar {
  scroll-margin-top: 100px
} 